lib/leedb/schemas/OUT-X-Prefs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Preferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InvenPreferences">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ShipProviders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ShipProvider" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ShipTypes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ShipType" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="No" use="optional"/>
                                        <xs:attribute type="xs:byte" name="Default" use="optional"/>
                                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                                        <xs:attribute type="xs:float" name="Amount" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="No" use="optional"/>
                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                        <xs:attribute type="xs:byte" name="Default" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OutOfStockMessages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OutOfStockMsg" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="No" use="optional"/>
                            <xs:attribute type="xs:byte" name="Default" use="optional"/>
                            <xs:attribute type="xs:string" name="Text" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="InStockMessages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="InStockMsg">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="No"/>
                            <xs:attribute type="xs:byte" name="Default"/>
                            <xs:attribute type="xs:string" name="Text"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ShipUnits">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ShipUnit" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="No" use="optional"/>
                            <xs:attribute type="xs:string" name="Name" use="optional"/>
                            <xs:attribute type="xs:string" name="Abbr" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProdAvailability">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ProdAvailability_Item" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="No" use="optional"/>
                            <xs:attribute type="xs:string" name="Value" use="optional"/>
                            <xs:attribute type="xs:byte" name="Default" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="QtySource">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="QtySource_Item" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="No" use="optional"/>
                            <xs:attribute type="xs:string" name="Value" use="optional"/>
                            <xs:attribute type="xs:byte" name="Default" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DisplayItem">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:byte" name="Code"/>
                      <xs:attribute type="xs:string" name="Default"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="AvailableThreshold">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:byte" name="Code"/>
                      <xs:attribute type="xs:float" name="Default"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="AvailableAtStore">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:byte" name="Code"/>
                      <xs:attribute type="xs:byte" name="Default"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaxCodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TaxCode" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="No" use="optional"/>
                      <xs:attribute type="xs:string" name="Name" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Discounts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Discount" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="DiscountItem" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="Qty_Min"/>
                            <xs:attribute type="xs:int" name="Qty_Max"/>
                            <xs:attribute type="xs:float" name="Disc_Price"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="No" use="optional"/>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DefPriceLevels">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DefPrice" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="Level" use="optional"/>
                      <xs:attribute type="xs:byte" name="Type" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ShippingParams">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="ShippingTypeIndex"/>
                <xs:attribute type="xs:byte" name="ShippingCalcIndex"/>
                <xs:attribute type="xs:float" name="HandlingAmount"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Scales">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Scale" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ScaleItem" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="No" use="optional"/>
                            <xs:attribute type="xs:string" name="Value" use="optional"/>
                            <xs:attribute type="xs:byte" name="Type" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="No" use="optional"/>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrderStatuses">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderStatusItem" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="No" use="optional"/>
                      <xs:attribute type="xs:string" name="Action" use="optional"/>
                      <xs:attribute type="xs:string" name="Descript" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OnlineCCProcess">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="ProcessMethod"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>