lib/schemas/OUT-N-CatTree.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Category_Tree">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TreeNode" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Style" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="SID"/>
                      <xs:attribute type="xs:byte" name="OrderNo"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="TreeNode" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TreeNode" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="Style">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="SID" use="optional"/>
                                  <xs:attribute type="xs:byte" name="OrderNo" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TreeNode">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Style" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="SID" use="optional"/>
                                        <xs:attribute type="xs:byte" name="OrderNo" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="SID" use="optional"/>
                              <xs:attribute type="xs:string" name="Caption" use="optional"/>
                              <xs:attribute type="xs:byte" name="OrderNo" use="optional"/>
                              <xs:attribute type="xs:string" name="Thumbnail" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="SID" use="optional"/>
                        <xs:attribute type="xs:string" name="Caption" use="optional"/>
                        <xs:attribute type="xs:byte" name="OrderNo" use="optional"/>
                        <xs:attribute type="xs:string" name="Thumbnail" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Style" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="SID" use="optional"/>
                            <xs:attribute type="xs:byte" name="OrderNo" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="SID" use="optional"/>
                  <xs:attribute type="xs:string" name="Caption" use="optional"/>
                  <xs:attribute type="xs:short" name="OrderNo" use="optional"/>
                  <xs:attribute type="xs:string" name="Thumbnail" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="SID" use="optional"/>
            <xs:attribute type="xs:string" name="Caption" use="optional"/>
            <xs:attribute type="xs:byte" name="OrderNo" use="optional"/>
            <xs:attribute type="xs:string" name="ShortDesc" use="optional"/>
            <xs:attribute type="xs:string" name="LongDesc" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>